body {
    background: whitesmoke;
    display: block;
    font-family: Aptos, sans-serif;
    font-size: 1.75em;
    text-align: center;
}

label, input {
    vertical-align: middle;
}

input:hover {
    background: lightgoldenrodyellow;
    transform: scale(1.05);
}

input[type='checkbox'], input[type='radio'] {
    accent-color: darkgoldenrod;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

input[type='checkbox']:hover, input[type='radio']:hover {
    accent-color: darkgoldenrod;
}

button {
    background-color: darkgray;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    cursor: pointer;
    font-size: .75em;
    font-weight: bold;
    margin-top: 25px;
    padding: 5px 5px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: grey;
    transform: scale(1.05);
}

#my_result_table {
    border-collapse: collapse;
    color: darkred;
    font-family: Times New Roman, serif;
    font-size: .75em;
    font-style: italic;
    font-weight: bold;
    margin: 25px auto 0 auto;
}

#my_result_table td {
    border: 1px solid darkred;
    padding: 4px 8px;
    text-align: left;
}